html {
  @apply antialiased text-slate-500 dark:text-slate-400 bg-white dark:bg-slate-950 min-h-screen;
  margin: none;
  overflow-x: hidden;
}

body {
  margin: none;
}

.react-activity-calendar__scroll-container {
  max-width: 300px;
  overflow-x: hidden;
}

* {

  /* 스크롤바의 스타일을 정의합니다. */
  ::-webkit-scrollbar {
    width: 10px;
    /* 스크롤바의 너비 */
    height: 10px;
    /* 스크롤바의 높이 */
  }

  /* 스크롤바의 썸을 정의합니다. */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175);
    /* 스크롤바 색상 */
    border-radius: 999px;
    /* 둥글게 만듭니다. */
  }

  /* 스크롤바 트랙(경로)을 정의합니다. */
  ::-webkit-scrollbar-track {
    background-color: transparent;
    /* 스크롤바 트랙의 색상 */
  }
}